.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;

    & img {
        width: 75px;
        height: 75px;
    }

    & h4 {
        font-size: 0.85rem;
        text-transform: capitalize;
    }

    & h5 {
        margin: 0.5rem 0;
        color: $primaryColor;
    }
}

.item-amount {
    text-align: center;
}

.remove-item {
    color: $mainGrey;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: $primaryColor;
    cursor: pointer;
    margin: 10px 0;
    font-size: 1.5rem;
    transition: $mainTransition;

    &:hover {
        color: #0b3a0d80;
    }
}